# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Database files (optional, if using local SQLite)
*.sqlite

# Other
coverage/
